.App {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
.numberCard {
  display: inline-block;
  margin: 10px;
  border: 2px solid grey;
  box-shadow: 0 2px 2px #ccc;
  width: 100px;
  padding: 20px;
  background: darksalmon;
  border-radius: 50%;
}

.btn {
  margin-top: 30px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: darksalmon;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {background-color: salmon}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}